/* Header */
h1{
    background-color: #0ccf05;
    height: 100px;
    font-style:italic;
    text-align: center;
    text-decoration:underline;

}




p{
    font-weight: 300;
    font-size: large;
    font-style:italic
}

/* Unvisited Link*/

a:link {
    height: 100px;
    color: #070707;
}

/* Hover Link */
a:hover {
    color: rgb(139, 67, 0);
}

/* Visited Link */
a:visited {
    color: #020202;
}



/* Footer */
footer {
    background-color: #0ccf05;
    text-align: center;
    text-decoration: underline;
}


h2 {
    color:#078C03
}

